In [30]:
def fun(n):
    if n==0:
        return 0
    return n+fun(n-1)

In [29]:
fun(0)

1

# 피보나치
    
    F_0 = 0
    F_1 = 1
    F_2 = F_1 + F_0
    F_3 = F_2 + F_1


    F_n = F_(n-1) + F_(n-2)

In [68]:
# n 번째 피보나치 수열 구하기

n = 100

f = [0, 1]

for i in range(2, n):
    f.append(f[i-1]+f[-2])

print(f)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026]

In [2]:
m = 10

def fi(n):
    if n<=1:
        return n
    else:
        return fi(n-1) + fi(n-2)
    
fi(m-1)

34

# 지역변수, 전역변수

In [16]:
ret = 0 # 전역변수, global variable(주피터 전체에서 참조 가능)

def f(lists=[]): # arguments, 매개변수, 인자
    ret = 0 # 지역변수, local variable(외부에서 참조할수없음: 함수안에서 정의되었기 때문)
    for element in lists:
        if element > ret:
            ret = element
    return ret

n = [1, 2, 3, 10, 5]

print(f(n))

10

# lambda


- 머신러닝같은 인공지능 분야에서는 많이 쓰임

```
lambda aoroaustn : 표현식
```

In [18]:
def add(a, b):
    return a+b

add(10,20)

30

In [20]:
(lambda a, b : a+b)(10, 20) # 역명함수, 일회성 함수같은 개념

30

In [25]:
(lambda a, b, c, d : a+b+c+d)(10, 20, 30, 40)

100

# map

- 함수와 리시트를 매개변수로 하는 함수

```
    map(함수(람다), 리스트)
```

In [30]:
map(lambda a, b : a+b, range(10), range(10))

In [37]:
for e in map(lambda a, b : a+b, range(10), range(10)):
    print(e)

0
2
4
6
8
10
12
14
16
18

In [31]:
list(map(lambda a, b : a+b, range(10), range(10)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [32]:
range(10)

range(0, 10)

In [33]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 클래스

- 사용자 정의 데이터 타입

```
    class 클래스이름():
    
```

- 클래스 이름은 대문자로 시작

## 은닉성(캡슐화)

    - getter
    - setter
    
## 다형성
    
    - 오버로딩(over loading) 파이썬 지원안함 구현불가 ㅎㅎ
    - 오버라이딩(over riding) 하나에 클래스 안에 같은 이름의 메소드 여러개 가능
    
## 상속
    
    - 다중상속
    - 추상클래스
    - is-a, has-a

In [3]:
class Person():
    # 속성(변수), 사람이라면 누구나 가지는 속성
    # 멤버 변수
    _age1 = 10 # private
    name = '' # public
    
    # 생성자 정의
    def __init__(self, age=0, name=''):
        self._age1 = age
        self.name = name
        print(self.name + "생성자 실행")
        
    # 소멸자 정의
    def __del__(self):
        print(self.name + "소멸자 실행")
    
    # getter decorate
    @property
    def age(self):
        return self._age1
    
    # setter decorate
    @age.setter
    def age(self, personage):
        self._age1 = personage
        
    # 기능(함수)
    def eat(self): # 멤버 메서드(member method)
        print("77ㅓ억~")
    def sleep(self):
        print("zZ~ zZ~ zZ~")

In [81]:
person3 = Person(12, 'son')
print(person3)

son생성자 실행
son소멸자 실행
<__main__.Person object at 0x7fce33c4d890>

In [72]:
person1 = Person("Lee") # 객체 생성, 생성자 호출
person2 = Person("An")

Lee생성자 실행
An생성자 실행

In [73]:
print(person1._age1)
print(person1.name)
person1.eat()
person1.name = "KIMKIM"
print(person1.name)

10
Lee
77ㅓ억~
KIMKIM

In [74]:
# 멤버 메서드지만 변수처럼 사용 사능
# person1.age()
person1.age

10

In [75]:
# 변수처럼 사용 가능
# person1.age(20)
person1.age1 = 20
person1.age1

20

In [76]:
del person1
del person2

KIMKIM소멸자 실행
An소멸자 실행

In [41]:
class Icecream():
    def __init__(self, name="None", price=0):
        self._name=name
        self._price=0
        print("아무튼 생성됨")
    
    def __del__(self):
        print("아무튼 지워짐")
    
    @property
    def icecream(self):
        #return self._name
        print("이름: ", self._name)
        print("가격: ", self._price, "원")
    
    @icecream.setter
    def icecream(self, price):
        self._price = price
        print("가격변동 ㅎㅎ")
    
    def ice(self):
        print(self._name)
    
    def melt(self):
        print("녹음!")

In [37]:
new1 = Icecream("빠삐코", 300)
new2 = Icecream("워드콘", 700)

아무튼 생성됨
아무튼 생성됨

In [38]:
new1.icecream

이름:  빠삐코
가격:  0 원

In [39]:
new1.icecream = (400)

가격변동 ㅎㅎ

In [42]:
new1.ice()

얼음!

In [82]:
new1.icecream
new2.icecream

이름:  빠삐코
가격:  400 원
이름:  워드콘
가격:  0 원

# 얕은 복사, 깊은 복사

In [96]:
list1 = [1, 2, 3, 4, 5]
print(hex(id(list1)))
list2 = list1
print(hex(id(list2)))
list2.append(10)
list1

0x7fce33e8e6e0
0x7fce33e8e6e0

[1, 2, 3, 4, 5, 10]

In [97]:
list1 = [1, 2, 3, 4, 5]
print(hex(id(list1)))
list2 = list1[:]
print(hex(id(list2)))
list2.append(10)
list1

0x7fce48cc9c30
0x7fce33e990a0

[1, 2, 3, 4, 5]

# 상속

In [31]:
class Student(Person):
    
    # 재지정
    def __init__(self, age, name, school_name):
        super().__init__(age, name)
        self.school_name = school_name
    
    def eat(self):
        super().eat()
        print("학생이 먹습니다.")

In [32]:
stu1 = Student(21, '첫번째학생', 'SD Academy')

첫번째학생생성자 실행
소멸자 실행

In [36]:
print(stu1.age)
print(stu1.name)
print(stu1.school_name)

21
첫번째학생
SD Academy

In [35]:
stu1.eat()

77ㅓ억~
학생이 먹습니다.

In [38]:
class Middle_school_student(Student):
    pass

In [39]:
stu2 = Middle_school_student(13, "첫번째 중학생", "에스디중학교")
print(stu2.age)
print(stu2.name)
print(stu2.school_name)

첫번째 중학생생성자 실행
13
첫번째 중학생
에스디중학교

In [63]:
class A():
    def __init__(self):
        print("A Class initialized")

class B(A):
    def __init__(self):
        super().__init__()
        self.var = "B"
        print("B Class initialized")
        
class C(A):
    def __init__(self):
        super().__init__()
        self.var = "C"
        print("C Class initialized")
        
class D(B, C):
    def __init__(self):
        super().__init__()
        print("D Class initialized")

In [64]:
n1=A()

A Class initialized

In [65]:
n2=B()

A Class initialized
B Class initialized

In [66]:
n3=C()

A Class initialized
C Class initialized

In [67]:
n4=D()

A Class initialized
C Class initialized
B Class initialized
D Class initialized

In [61]:
D.mro()

[__main__.D, __main__.B, __main__.C, __main__.A, object]

In [62]:
Middle_school_student.mro()

[__main__.Middle_school_student, __main__.Student, __main__.Person, object]

In [68]:
n4.var

'B'

In [24]:
# 1. 비어있는 Human클래스를 정의하세욧

class Human:
    def __init__(self, name="None", age=0, gender="None"):
        self._name=name
        self._age=age
        self._gender=gender
        print("아무튼 생성됨")
        
    def who(self):
        print(self._name)
        print(self._age)
        print(self._gender)
        
    @property
    def name(self):
        return print("이름:", self._name)
    @name.setter
    def name(self, name):
        if name != "":
            self._name = name
        
    @property
    def age(self):
        return print("나이:", self._age)
    @age.setter
    def age(self, age):
        if age > 0:
            self._age = age
    
    @property
    def gender(self):
        return print("성별:", self._gender)    
    @gender.setter
    def gender(self, gender):
        if gender == "F" or gender == "M":
            self._gender = gender

In [25]:
# 2. Human 클래스의 인스턴스(객체)를 생성하고 이를 obj변수로 바인딩하세욧

obj = Human("Kim", 20, "M")

아무튼 생성됨

In [26]:
# 3. Huma 클래스에 생성자를 추가하고 생성자가 실행됐음을 확인할수있는 문자열을 출력 하세욧

In [27]:
# 4. 생성자를 이용해(이름, 나이, 성별)을 받을 수 있도록 객체 변수를 정의하세욧

In [28]:
# 5. 생성된 객체의 속성(이름, 나이, 성별)을 출력하세욧

print(obj._name)
print(obj._age)
print(obj._gender)

Kim
20
M

In [29]:
# 6. 속성(이름, 나이, 성별)을 출력할 수 있는 who() 메서드를 추가하세욧

obj.who()

Kim
20
M

In [30]:
# 7. 속성(이름, 나이, 성별)을 받을수 있는 getter와 setter를 추가하세욧

obj.name

이름: Kim

In [31]:
obj.name = "Lee"

In [37]:
obj.age = 40

In [38]:
obj.gender = "asdf"

In [39]:
obj.who()

Lee
40
M

In [40]:
# 8. 다음의 코드는 에러가 발생해욧. 원인을 확인하세욧 ㅎ_ㅎ

'''
class OMG:
    def print():
        print("Oh My God")
'''

class OMG:
    def p(self):
        print("Oh My God")

In [41]:
obj1 = OMG()
obj1.p()

Oh My God

# 1. Bank_account 클래스 정의하기
    은행에서 계좌를 개설하면 기본적으로 계좌번호와 잔액이 설정됩니다. ㅎ_ㅎ
    생성자를 이용해서 구현해 봅시다 ㅎ_ㅎ
    
# 2. 클래수 변수
    개설된 계좌의 갯수를 저장하는 클래스 변수 하나를 정의하세요
    number_of_bank_account
    
# 3. 입금 메서드
    계좌를 개설한 객체에 입금을 하기 위한 deposit 메서드를 추가하세욧
    최소 입금액은 1원이라고 가정 ㅎㅎ
    
# 4. 출금 메서드
    마찬가지로 출금을 하기 위한 withdraw 메서드를 추가하세욧
    잔액 이상으로는 출금 불가 ㅎㅎ
    
# 5. 이자 지급하기
    입금횟수가 5회가 될 때 마다 잔고를 기준으로 1%의 이자를 잔고에 추가하도록 해 봅시당 ㅎㅎ

In [239]:
class Bank_account():
    _number_of_bank_account = 0
    
    def __init__(self, money=0):
        Bank_account._number_of_bank_account += 1
        self._number = '10-100-' + str((100 + Bank_account._number_of_bank_account))
        self._money = money
        self._cnt = 0
        print("{}번째 계좌 개설 축축축".format(Bank_account._number_of_bank_account))
        print("계좌 번호:", self._number)
        print("잔액:", self._money)
        
    def deposit(self, money):
        self._money += money
        self._cnt += 1
        print("입금 요청 계좌 번호:", self._number)
        print("{}원 입금 완료".format(money))
        if (self._cnt%5) == 0:
            print("축축축 이자 발생 축축축")
            self._money = int(1.01 * self._money)
        print("잔액:", self._money)
        print("입금 횟수:", self._cnt)
        
    def withdraw(self, money):
        if money>self._money:
            print("잔액 부족")
            print("잔액:", self._money)
        else:
            self._money = self._money - money
            print("출금 요청 계좌 번호:", self._number)
            print("{}원 출금 완료".format(money))
            print("잔액:", self._money)

In [240]:
user1 = Bank_account()

1번째 계좌 개설 축축축
계좌 번호: 10-100-101
잔액: 0

In [241]:
user2 = Bank_account()

2번째 계좌 개설 축축축
계좌 번호: 10-100-102
잔액: 0

In [242]:
user3 = Bank_account(1000000000)

3번째 계좌 개설 축축축
계좌 번호: 10-100-103
잔액: 1000000000

In [243]:
user1.deposit(500)

입금 요청 계좌 번호: 10-100-101
500원 입금 완료
잔액: 500
입금 횟수: 1

In [244]:
user1.deposit(1000)

입금 요청 계좌 번호: 10-100-101
1000원 입금 완료
잔액: 1500
입금 횟수: 2

In [245]:
user1.deposit(500)

입금 요청 계좌 번호: 10-100-101
500원 입금 완료
잔액: 2000
입금 횟수: 3

In [246]:
user1.deposit(3000)

입금 요청 계좌 번호: 10-100-101
3000원 입금 완료
잔액: 5000
입금 횟수: 4

In [247]:
user1.deposit(5000)

입금 요청 계좌 번호: 10-100-101
5000원 입금 완료
축축축 이자 발생 축축축
잔액: 10100
입금 횟수: 5

In [248]:
user1.withdraw(20000)

잔액 부족
잔액: 10100

In [249]:
user1.withdraw(100)

출금 요청 계좌 번호: 10-100-101
100원 출금 완료
잔액: 10000

In [38]:
class BankAccount():
    _number_of_bank_account = 0
    
    def __init__(self, money=0):
        BankAccount._number_of_bank_account += 1
        self._number = '10-100-' + str(1000 + BankAccount._number_of_bank_account)
        print("계좌 개설 성공")
        if money == 0:
            self._cnt = 0
            self._money = money
        elif money < 1:
            print("입금 실패 최소 금액 1원")
            self._cnt = 0
            self._money = 0
        else:
            self._cnt = 1
            self._money = money
            print("입금 횟수: {}번".format(self._cnt))
        BankAccount.state(self)
        
    def deposit(self, money=0):        
        if money < 1:
            print("입금 실패 최소 금액 1원")
        else:
            self._cnt += 1
            self._money += money
            print("입금 금액: {}원".format(money))
            print("입금 횟수: {}회".format(self._cnt))
            if (self._cnt % 5) == 0:
                print("이자 발생 축축축")
                self._money = int(self._money * 1.01)
        BankAccount.state(self)
        
    def withdraw(self, money=0):
        if money > self._money:
            print("출금 실패 잔액 부족")
        else:
            self._money -= money
        print("출금 금액: {}원".format(money))
        BankAccount.state(self)
        
    def state(self):
        print("계좌 번호: {}".format(self._number))
        print("남은 잔액: {}원".format(self._money))

In [37]:
user1 = BankAccount(-1)

계좌 개설 성공
입금 실패 최소 금액 1원
계좌 번호: 10-100-1002
남은 잔액: 0원

In [30]:
user1.state()

계좌 번호: 10-100-1002
남은 잔액: 100원

In [31]:
user1.withdraw(100)

출금 금액: 100원
계좌 번호: 10-100-1002
남은 잔액: 0원

In [173]:
user1.deposit(100)

입금 금액: 100원
입금 횟수: 135번
이자 발생 축축축
계좌 번호: 10-100-1002
남은 잔액: 15554원